@font-face {
  font-family: "Inter";
  src: url("/src/assets/Inter-VariableFont_slnt,wght.ttf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
}

#root {
  margin: 0 auto;
  box-sizing: border-box;
  --h-padding: 20px;
  --color-dark-green: #191f03;
  --color-white: #fffdf3;
  --color-mint: #deedd6;
  --color-red: #e37770;
  --color-yellow: #f6c47a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Futura", "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  font-size: 100%;
}

.extension-container {
  padding: 0px 25px;
  width: 600px;
  background-color: var(--color-mint);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subheader h3 {
  margin: 0px 0px 5px;
}

.logo h1 {
  font-weight: 500;
  margin-bottom: 10px;
}


.non-header {
  box-shadow: rgb(0, 0, 0, 0.16) 0px 2px 8px;
  background-color: var(--color-white);
  margin: 0px -25px;
  padding: 0px 25px;
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.overview-tab {
  display: flex;
  justify-content: space-between;
}

.overview-tab * {
  margin: 0px;
}
.overview-container {
  box-shadow: rgb(0, 0, 0, 0.16) 0px 2px 8px;
  padding: 20px 25px;
  border-radius: 6px;
  margin: 20px 0px;
}

.detail-tab {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: -20px;
}

.colorline {
  height: 5px;
  padding: 8px 25px;
  margin: -8px -25px;
  margin-bottom: -20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 15px;
  border-radius: 0px 0px 6px 6px;
}

.overview-container p {
  margin: 12px 0px;
}

.detail-tab h2 {
  margin: 0px;
}

.detail-tab,
.overview-tab {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 8px 25px;
  margin: -8px -25px;
  color: var(--color-dark-green);
  box-sizing: content-box;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline 0.12em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

.detail-tab:hover,
.overview-tab:hover {
  text-decoration-color: var(--color-dark-green);
}
.detail-tab *,
.overview-tab * {
  font-weight: 500;
}

.detail-number {
  position: absolute;
  top: 0px;
  text-align: right;
  width: 100%;
}

.detail-clicky {
  display: flex;
}

.calculations {
  margin-top: 20px;
}

.overviews > h2,
.calculation-header > h2 {
  font-weight: 600;
}

.overview-li li {
  flex: 1;
}

.calculation-header {
  display: flex;
  justify-content: space-between;
}

.detail-container {
  border-radius: 6px;
  box-shadow: rgb(0, 0, 0, 0.16) 0px 2px 8px;
  padding: 20px 25px;
  margin: 20px 0px;
}

.detail-container a {
  display: flex;
}

.detail-element {
  display: flex;
  justify-content: space-between;
  margin: 18px 0px;
  align-items: center;
}

.divider {
  height: 1px;
  border-radius: 20px;
  background-color: var(--color-dark-green);
}
.detail-total {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 20px;
  text-align: right;
}

.detail-total * {
  margin: 0;
}

.detail-total h3 {
  margin-top: 7px;
}

.item-name {
  max-width: 300px;
}
.item-name * {
  margin: 6px 0px;
}
.item-name-icon {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer {
  text-align: center;
}


form input,
form select {
  padding: 8px 0px 8px 10px;
  border-radius: 7px;
  border: 1.5px solid var(--color-dark-green);
  box-shadow: rgb(0, 0, 0, 0.1) 0px 2px 8px;
}

#name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-input {
  display: block;
  margin: 30px 0px 15px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1.5px solid var(--color-dark-green);
  box-shadow: rgb(0, 0, 0, 0.16) 0px 2px 8px;
}

.form-element-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-element-1 > * {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-element-2 { 
  margin: 30px 0px 10px;
}
.form-element-2 > div{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.form-element-3 {
  width: fit-content;
  margin: 30px auto;
}

.form-element-3 input {
  margin: 0px 8px;
}

.init-button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  display: block;
  margin: 20px auto;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.init-button:hover,
.init-button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.init-button:hover {
  transform: translateY(-1px);
}

.init-button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.img-container {
  height: 85px;
  width: 85px;
}

.img-container img {
 height: 100%; 
 object-fit: contain;
}

